<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.t09ether.home.dao.ProductDAO">
	<insert id="productInsert">
		insert into product(pro_code, pro_total, pro_name, pro_price, pro_stock, image, detailed) values(pro_code_sq.nextval, #{pro_total}, #{pro_name},#{pro_price}, #{pro_stock}, #{image}, #{detailed})
	</insert>
	<select id="totalRecord" resultType="int">
		select count(pro_code) from product 
		<if test="searchWord!=null">
			where ${searchKey} like '%${searchWord}%'
		</if>
	</select>
	<select id="pageSelect" resultType="com.t09ether.home.dto.ProductDTO">
		select * from product
			<if test="searchWord!=null">
	       	where ${searchKey} like concat('%', #{searchWord}, '%')
	    	</if>
    		order by pro_code desc
    		LIMIT #{limitStart}, #{onePageRecord}
	</select>
	
	<!-- <select id="productSelect" resultType="com.t09ether.home.dto.ProductDTO">
		select pro_code, pro_name, pro_price, image from product 
	</select>
	 -->
	<select id="productDetailSelect" resultType="com.t09ether.home.dto.ProductDTO">
		select pro_code, pro_total, pro_name, pro_price, pro_stock, image, detailed from product where pro_code=${param1} 
	</select>
	
</mapper>

